@import 'foundation';
@include foundation-everything;

.dropdown {
  li:hover {
    background: #ddd;
  }

  &::after {
    content: '';
    width: 90%;
    height: 200px;
    display: none;
    position: absolute;
  }

  &.show-invisible-extension {
    &::after {
      display: block;
    }
  }
}

.is-dropdown-submenu-parent.open {
  .is-dropdown-submenu {
    display: block;
  }
}

.aimable-tooltip {
  &.show-invisible-extension {
    &::before {
      content: '';
      width: 119px;
      height: 26px;
      position: absolute;
      right: -50px;
      bottom: 10px;
    }
  }
}

img.help-icon {
  width: 20px;
}
