<a href="https://github.com/SleepyWerewolf/ember-hover-aim">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png">
</a>

<!-- Title Bar -->
<div class="title-bar">
  <div class="title-bar-left">
    <button class="menu-icon" type="button"></button>
    <span class="title-bar-title">Ember Hover Aim</span>
  </div>
  <div class="title-bar-right">
    <button class="menu-icon" type="button"></button>
  </div>
</div>

<div class="row">
  <div class="small-6 large-expand columns">
    <h2> Vanilla Dropdown Menu</h2>
    <button class="button" data-toggle="vanilla-dropdown">Hover to Show Dropdown</button>
    {{#zf-dropdown id="vanilla-dropdown" hover=true hoverDelay=0 hoverPane=true closeOnClick=true}}
      {{#zf-dropdown-menu
        class="vertical"
        closingTime=0
      }}
        <li>
          <a href="#">Item 1</a>
          <ul class="menu">
            <li><a href="#">Item 1A</a></li>
            <li><a href="#">Item 1B</a></li>
            <li><a href="#">Item 1C</a></li>
            <li><a href="#">Item 1D</a></li>
            <li><a href="#">Item 1E</a></li>
            <li><a href="#">Item 1F</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Item 2</a>
          <ul class="menu">
            <li><a href="#">Item 2A</a></li>
            <li><a href="#">Item 2B</a></li>
            <li><a href="#">Item 2C</a></li>
            <li><a href="#">Item 2D</a></li>
            <li><a href="#">Item 2E</a></li>
            <li><a href="#">Item 2F</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Item 3</a>
          <ul class="menu">
            <li><a href="#">Item 3A</a></li>
            <li><a href="#">Item 3B</a></li>
            <li><a href="#">Item 3C</a></li>
            <li><a href="#">Item 3D</a></li>
            <li><a href="#">Item 3E</a></li>
            <li><a href="#">Item 3F</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Item 4</a>
          <ul class="menu">
            <li><a href="#">Item 4A</a></li>
            <li><a href="#">Item 4B</a></li>
            <li><a href="#">Item 4C</a></li>
            <li><a href="#">Item 4D</a></li>
            <li><a href="#">Item 4E</a></li>
            <li><a href="#">Item 4F</a></li>
          </ul>
        </li>
      {{/zf-dropdown-menu}}
    {{/zf-dropdown}}
  </div>

  <div class="small-6 large-expand columns">
    <h2>Aimable Dropdown Menu</h2>
    <button class="button" data-toggle="aimable-dropdown">Hover to Show Dropdown</button>
    {{#zf-dropdown id="aimable-dropdown" hover=true hoverDelay=0 hoverPane=true closeOnClick=true}}
      {{#aimable-dropdown-menu
        class="vertical"
        anchorSelector=">li"
        targetSubElementSelector=".submenu.is-dropdown-submenu"
        targetElementDirection="right"
        aimTolerance=100
      }}
        <li>
          <a href="#">Item 1</a>
          <ul class="menu">
            <li><a href="#">Item 1A</a></li>
            <li><a href="#">Item 1B</a></li>
            <li><a href="#">Item 1C</a></li>
            <li><a href="#">Item 1D</a></li>
            <li><a href="#">Item 1E</a></li>
            <li><a href="#">Item 1F</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Item 2</a>
          <ul class="menu">
            <li><a href="#">Item 2A</a></li>
            <li><a href="#">Item 2B</a></li>
            <li><a href="#">Item 2C</a></li>
            <li><a href="#">Item 2D</a></li>
            <li><a href="#">Item 2E</a></li>
            <li><a href="#">Item 2F</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Item 3</a>
          <ul class="menu">
            <li><a href="#">Item 3A</a></li>
            <li><a href="#">Item 3B</a></li>
            <li><a href="#">Item 3C</a></li>
            <li><a href="#">Item 3D</a></li>
            <li><a href="#">Item 3E</a></li>
            <li><a href="#">Item 3F</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Item 4</a>
          <ul class="menu">
            <li><a href="#">Item 4A</a></li>
            <li><a href="#">Item 4B</a></li>
            <li><a href="#">Item 4C</a></li>
            <li><a href="#">Item 4D</a></li>
            <li><a href="#">Item 4E</a></li>
            <li><a href="#">Item 4F</a></li>
          </ul>
        </li>
      {{/aimable-dropdown-menu}}
    {{/zf-dropdown}}
  </div>
</div>

<div class="row">
  <div class="small-8 large-expand columns">
    <h2>Tooltip</h2>
    <p>
      This is a
      {{#zf-tooltip
        title="Good luck hovering over me."
        positionClass="top"
      }}
        regular tooltip
      {{/zf-tooltip}}.
    </p>
    <p>
      This is an aimable tooltip:
      {{#aimable-tooltip
        title="Ahh much easier"
        positionClass="top"
        templateClasses="aimable-tooltip-target"
        disableHover=true
        anchorSelector=".aimable-tooltip-anchor"
        targetSubElementSelector=".aimable-tooltip-target"
        targetElementDirection="top"
        aimTolerance=50
      }}
        <span class="aimable-tooltip-anchor">
          <img src="/assets/images/help_icon.jpg"/>
        </span>
      {{/aimable-tooltip}}.
    </p>
  </div>
</div>
