<!-- Title Bar -->
<div class="title-bar">
  <div class="title-bar-left">
    <button class="menu-icon" type="button"></button>
    <span class="title-bar-title">Ember Hover Aim</span>
  </div>
  <div class="title-bar-right">
    <button class="menu-icon" type="button"></button>
  </div>
</div>

<div class="row">
  <div class="small-4 large-expand columns">
    <h2>Dropdown Menu</h2>
    <button class="button" data-toggle="example-dropdown">Toggle Dropdown</button>
    {{#zf-dropdown id="example-dropdown"}}
      Example form in a dropdown.
      {{#dropdown-menu class="vertical" closingTime=0 disableHover=true}}
        <li>
          <a href="#">Item 1</a>
          <ul class="menu">
            <li><a href="#">Item 1A</a></li>
          </ul>
        </li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
      {{/dropdown-menu}}
    {{/zf-dropdown}}
  </div>
</div>

<div class="row">
  <div class="small-8 large-expand columns">
    <h2>Tooltip</h2>
    <p>
      The {{#zf-tooltip title="Fancy word for a beetle."}}scarabaeus{{/zf-tooltip}} hung quite
      clear of any branches, and, if allowed to fall, would have fallen at our feet. Legrand
      immediately took the scythe, and cleared with it a circular space, three or four yards
      in diameter, just beneath the insect, and, having accomplished this, ordered Jupiter to
      let go the string and come down from the tree.
    </p>
  </div>
</div>
